
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family:Arial;
}

.header {
	background-color:#FFF09F;
	padding: 40px;
	text-align: center;
	font-size: 20px;
	text-shadow: 2px 2px 4px black;
 	color: white;
}

.container {
	width: 80%;
	margin: 0px auto;
}

.gallery img {
	width: 20%;
	border: 1px gray solid;
	padding: 20px;
	margin: 10px 20px;
	opacity: 0.8;
}

.gallery img:hover {
	opacity: 1;
}

.navigation a{/
	background-color: #FFF8D4;
	color: black;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}

.navigation a:hover {
	background-color: #ccc;
}

.navigation a:active {
	background-color: #FFE55B;
}

.navigation {
	width: 20%;
	float: left;
	margin: 20px 10px;
	height: 300px;
	background-color: #FFF8D4;
}

.section {
 	width: 75%;
	float: left;
	padding: 30px;
	border: 5px gray solid;
	margin: 20px 10px;
	height: 300px;
	box-shadow: 5px 5px 20px inset;
}

h3{
	margin-bottom: 20px;
}

.section p {
	font-size: 14px;
	line-height: 25px;
	text-align: justify;
}

.article {
	clear: both;
}

.column {
	float: left;
	padding: 30px;
	text-align: justify;
	font-size: 14px;
	line-height: 25px;
}

.column h3{
	text-align: center;
}

.column side {
	width: 25%;
}

.column middle {
	width: 50%;
}

.footer {
	clear: both;
	padding: 30px;
	text-align: center;
	background-color: #FFF09F;
]